/*!
 * Voice Verso official CSS
 */
body { overflow-x: hidden;font-family: "Nunito",sans-serif !important;}

.fl{ float:left;}
.right_cont-story .fr{ background-color: #fff;border: medium none;border-radius: 0;color: #a0a0a0;float: right; margin-top:-12%}
.right_cont-story .fr:hover{color:#000;}
.clr{ clear:both;}
.text-muted { color: #777; }
.text-primary { color: #c05525; }

p.large { font-size: 16px; }
a, a:hover, a:focus, a:active, a.active { outline: 0; }
a { color: #c05525; }
a:hover, a:focus, a:active, a.active { color: #fec503; }
h1, h2, h3, h4, h5, h6 { text-transform:capitalize; font-weight: 600;}
.form-horizontal .form-group{ margin-bottom: 15px;}
.img-centered { margin: 0 auto; }
.m-t25{margin-top:25px !important;}
.bg-light-gray { background-color: #f7f7f7; }
.bg-darkest-gray { background-color: #222; }
.btn-primary {background: none repeat scroll 0 0 #007fff;color: #fff;font-size: 16px !important;padding: 2px 0;text-decoration: none; border-radius:999em !important;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: #fff;}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {background-image: none;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {border-color: #c05525; background-color: #c05525;}
.btn-primary .badge {color:#c05525; background-color:#fff;}
.btn-xl {padding: 20px 40px; border-color: #c05525; border-radius: 3px; text-transform: uppercase;  font-size: 18px; font-weight: 700; color: #fff; background-color: #c05525;}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {color:#fff;}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {background-image: none;}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {border-color: #c05525; background-color: #c05525;}
.btn-xl .badge { color: #c05525; background-color: #fff; }
.navbar-default { border-color: transparent; background-color: #222;}
.navbar-default .navbar-brand {color: #c05525; }
.btn-primary.btn.fr:hover{color:#000;}
.nav-link .nav-name{color:#000;}
.nav-link .nav-name:hover{text-decoration:underline;}
/*.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active { color: #fec503; }*/
.navbar-default .navbar-collapse { border-color: rgba(255,255,255,.02); }
.navbar-default .navbar-toggle { border-color: #c05525; background-color: #c05525; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #c05525; }
.navbar-default .nav li a {  text-transform: capitalize;font-weight: 400; letter-spacing: 1px; display:inline-block; font-size:16px;}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus { outline: 0; color: #007fff; }
.navbar-default .nav li a.btn, .navbar-default .nav li a.btn:hover{ font-size:14px; color:#fff; background:hsl(19, 68%, 45%);}
.navbar-default .navbar-nav>.active>a { color: #007fff; }
.navbar-default .navbar-link{color:#000 !important;}
.navbar-default .navbar-link:hover{color:#000 !important; text-decoration:underline;}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { }
.list-inline{ text-align:right;}
.fr {background-color: #fff;border-radius:0;color: #a0a0a0;float: right; border:none;}
.list-inline li{ text-align:center;}
li.last-li{ border:solid 1px #fff; color:#fff;}
.postBlock{ padding:20px 0 10px; letter-spacing: 0.6px;line-height: 1.5; display:table; width:100%; position:relative;}
.cont_story .navbar-nav li a.dropdown-toggle{ margin-top:2px;}
.container.cont_story p.navbar-text{font-size: 16px; color: #000;}
@media only screen and (min-width: 320px) and (max-width: 480px){
.cont_story #storyshoutLogo{margin-left: 0;}
}
@media(min-width:768px) {
.navbar-default { border: 0; background-color: transparent; -webkit-transition: padding .3s; -moz-transition: padding .3s; transition: padding .3s; }
.navbar-default .navbar-brand { font-size: 2em; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
.navbar-default .navbar-nav>.active>a { border-radius: 3px; }
.navbar-default.navbar-shrink {background-color:rgba(255,255,255,.9); }
.navbar-default.navbar-shrink .navbar-brand { font-size: 1.5em; }
.navbar-default.navbar-shrink li a,.navbar-default.navbar-shrink li.last-li{ color:#000;}
.navbar-default.navbar-shrink li{ border-color:#ccc;}
}
header { text-align: center; color: #fff; background-attachment: scroll; background-image: url(../images/header-bg.jpg); background-position: center center; background-repeat: none; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }
header .intro-text { padding-top: 100px; padding-bottom: 50px; }
header .intro-text .intro-lead-in { margin-bottom: 25px;font-size: 22px; font-style: italic; line-height: 22px; }
header .intro-text .intro-heading { margin-bottom: 25px; text-transform: uppercase; font-size: 50px; font-weight: 700; line-height: 50px; }
@media(min-width:768px) {
header .intro-text { padding-top: 300px; padding-bottom: 200px; }
header .intro-text .intro-lead-in { margin-bottom: 25px;font-size: 40px; font-style: italic; line-height: 40px; }
header .intro-text .intro-heading { margin-bottom: 50px; text-transform: uppercase;font-size:50px; font-weight:300; line-height: 75px; text-shadow:0 0 2px rgba(0,0,0,.5); }
}
section h2.section-heading { margin-top: 0; margin-bottom: 15px; font-size: 40px; }
section h3.section-subheading { margin-bottom: 75px; text-transform: none; font-size: 16px; font-style: italic; font-weight: 400; }
.service-heading { margin: 15px 0; text-transform: none; }
#portfolio .portfolio-item { right: 0; margin: 0 0 15px; }
#portfolio .portfolio-item .portfolio-link { display: block; position: relative; margin: 0 auto; max-width: 400px; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover { position: absolute; width: 100%; height: 100%; opacity: 0; background: rgba(254,209,54,.9); -webkit-transition: all ease .5s; -moz-transition: all ease .5s; transition: all ease .5s; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover { opacity: 1; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content { position: absolute; top: 50%; width: 100%; height: 20px; margin-top: -12px; text-align: center; font-size: 20px; color: #fff; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i { margin-top: -12px; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 { margin: 0; }
#portfolio .portfolio-item .portfolio-caption { margin: 0 auto; padding: 25px; max-width: 400px; text-align: center; background-color: #fff; }
#portfolio .portfolio-item .portfolio-caption h4 { margin: 0; text-transform: none; }
#portfolio .portfolio-item .portfolio-caption p { margin: 0;font-size: 16px; font-style: italic; }
#portfolio * { z-index: 2; }
.forgot{text-decoration: none; color: #000 !important; display:inline-block; padding:0; font-family:"Nunito",sans-serif; font-size:14px;}
.forgot:hover{text-decoration: underline;color: #000;}
@media(min-width:767px) {
#portfolio .portfolio-item { margin: 0 0 30px; }
}
.timeline { position: relative; padding: 0; list-style: none; }
.timeline:before { content: ""; position: absolute; top: 0; bottom: 0; left: 40px; width: 2px; margin-left: -1.5px; background-color: #f1f1f1; }
.timeline>li { position: relative; margin-bottom: 50px; min-height: 50px; }
.timeline>li:before, .timeline>li:after { content: " "; display: table; }
.timeline>li:after { clear: both; }
.timeline>li .timeline-panel { float: right; position: relative; width: 100%; padding: 0 20px 0 100px; text-align: left; }
.timeline>li .timeline-panel:before { right: auto; left: -15px; border-right-width: 15px; border-left-width: 0; }
.timeline>li .timeline-panel:after { right: auto; left: -14px; border-right-width: 14px; border-left-width: 0; }
.timeline>li .timeline-image { z-index: 100; position: absolute; left: 0; width: 80px; height: 80px; margin-left: 0; border: 7px solid #f1f1f1; border-radius: 100%; text-align: center; color: #fff; background-color: #c05525; }
.timeline>li .timeline-image h4 { margin-top: 12px; font-size: 10px; line-height: 14px; }
.timeline>li.timeline-inverted>.timeline-panel { float: right; padding: 0 20px 0 100px; text-align: left; }
.timeline>li.timeline-inverted>.timeline-panel:before { right: auto; left: -15px; border-right-width: 15px; border-left-width: 0; }
.timeline>li.timeline-inverted>.timeline-panel:after { right: auto; left: -14px; border-right-width: 14px; border-left-width: 0; }
.timeline>li:last-child { margin-bottom: 0; }
.timeline .timeline-heading h4 { margin-top: 0; color: inherit; }



.timeline .timeline-heading h4.subheading { text-transform: none; }



.timeline .timeline-body>p, .timeline .timeline-body>ul { margin-bottom: 0; }
@media(min-width:768px) {
.timeline:before {left:50%;}
.timeline>li {margin-bottom:100px; min-height:100px;}
.timeline>li .timeline-panel {float:left; width:41%; padding:0 20px 20px 30px; text-align:right;}
.timeline>li .timeline-image { left: 50%; width: 100px; height: 100px; margin-left: -50px; }
.timeline>li .timeline-image h4 { margin-top: 16px; font-size: 13px; line-height: 18px; }
.timeline>li.timeline-inverted>.timeline-panel { float: right; padding: 0 30px 20px 20px; text-align: left; }
}
@media(min-width:992px) {
.timeline>li { min-height: 150px; }
.timeline>li .timeline-panel { padding: 0 20px 20px; }
.timeline>li .timeline-image { width: 150px; height: 150px; margin-left: -75px; }
.timeline>li .timeline-image h4 { margin-top: 30px; font-size: 18px; line-height: 26px; }
.timeline>li.timeline-inverted>.timeline-panel { padding: 0 20px 20px; }
}
@media(min-width:1200px) {
.timeline>li { min-height: 170px; }
.timeline>li .timeline-panel { padding: 0 20px 20px 100px; }
.timeline>li .timeline-image { width: 170px; height: 170px; margin-left: -85px; }
.timeline>li .timeline-image h4 { margin-top: 40px; }
.timeline>li.timeline-inverted>.timeline-panel { padding: 0 100px 20px 20px; }
}
.team-member { margin-bottom: 50px; text-align: center; }
.team-member img { margin: 0 auto; border: 7px solid #fff; }
.team-member h4 { margin-top: 25px; margin-bottom: 0; text-transform: none; }
.team-member p { margin-top: 0; }
aside.clients img { margin: 50px auto; }
section#contact { background-color: #222; background-image: url(../images/map-image.png); background-position: center; background-repeat: no-repeat; }
section#contact .section-heading { color: #fff; }
section#contact .form-group { margin-bottom: 25px; }
section#contact .form-group input, section#contact .form-group textarea { padding: 20px; }
section#contact .form-group input.form-control { height: auto; }
section#contact .form-group textarea.form-control { height: 236px; }
section#contact .form-control:focus { border-color: #c05525; box-shadow: none; }
 section#contact::-webkit-input-placeholder {text-transform: uppercase;font-weight: 700;color: #bbb;}



 section#contact:-moz-placeholder {text-transform: uppercase;font-weight: 700;color: #bbb;}



 section#contact::-moz-placeholder {text-transform: uppercase;font-weight: 700;color: #bbb;}



 section#contact:-ms-input-placeholder {text-transform: uppercase;font-weight: 700;color: #bbb;}



section#contact .text-danger {color:#e74c3c;}



footer {padding:25px 0;color:#fff;background:#000;}



footer span.copyright {text-transform:uppercase;text-transform:none;line-height:40px;}



footer ul.quicklinks, .inner-footer ul.quicklinks {margin-bottom:0;text-transform:uppercase;text-transform:none;line-height:40px;}



footer ul.quicklinks li a:hover , .inner-footer ul.quicklinks li a:hover{ color:#c05525;}



ul.social-buttons {margin-bottom: 0;}



ul.social-buttons li a {display:block;width:40px;height:40px;border-radius:100%;font-size:20px;line-height:40px;outline:0;color:#fff;background-color:#222;-webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }



ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active { background-color: #2d9fff ; }



.btn:focus, .btn:active, .btn.active, .btn:active:focus { outline: 0; }





::-moz-selection {text-shadow:none;background:#2d9fff ;color: #fff;}



::selection { text-shadow: none; background: #2d9fff ; color: #fff;}



img::selection { background: 0 0; }



 img::-moz-selection {background:0 0;}



body { webkit-tap-highlight-color: #2d9fff ; }



/*.control-label section.postBlock:nth-child(odd){ background:#f8f8f8;}*/



/*Old CSS Code*/



#full-screen-background-image { z-index: -999; width: 100%; height: 100%; position: fixed; top: 0; left: 0; }



#container { position: relative; margin: 100px auto; clear: both; }



.promo-title {letter-spacing: -0.02em; font-weight: 600; font-size: 32px; line-height: 1.3; color : #fff; text-align : center; margin: 0px auto; padding-top: 50px; }



#promo { margin: 20px auto; padding-top: 50px; }



a.to-top:link,  a.to-top:visited,  a.to-top:hover { margin-top: 1000px; display: block; font-weight: bold; padding-bottom: 30px; font-size: 30px; }



a.btn:link { color: #fff; margin-top: 250px; display: inline-block; font-size: 15px; }



.avatar_image img { cursor: pointer !important; }



::-webkit-input-placeholder {font-weight: bold;color: black;opacity: 1;}



:-moz-placeholder {font-weight: bold;color: black;opacity: 1 !important}



input #titleBlog { border: 4px solid rgba(0,0,0,0.1); padding: 8px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-padding-start: 1px; -moz-padding-end: 1px; font-size: 16px; }



#theBlog {float:none;margin:0 auto;width:1120px;}



#titleBlog { outline: none; border: 0 none; font-weight:normal !important; outline:none; color: #333; font-weight: normal; line-height: 1.25;font-family: "PT Sans",sans-serif;
    font-size: 52px; letter-spacing: -1px; box-shadow: none; padding: 4px; width: 100%; height: 63px; position: relative; clear: both; resize: none; overflow: hidden;}



textarea #content { border: 4px solid rgba(0,0,0,0.1); padding: 8px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
	-moz-padding-start: 1px; -moz-padding-end: 1px; font-size: 16px; outline: none; border: none; border-style: none; overflow: auto; color: #333; 
	font-weight: normal;line-height: 1.25; font-size: 28px; letter-spacing: -1px; box-shadow: none; padding: 4px; width: 923px; height: 138px; 
	position: relative; clear: both; resize: none;font-feature-settings: "liga";}



#publishbtn { position: relative; box-shadow: none; clear: both;margin-top:5px;}



.options { cursor: pointer; color: #000000; Verdana, Arial, Helvetica, sans-serif;font-size: 16px; margin-left: 3px; margin-right: 3px; }



a { text-decoration: none; }



.title { color: #000;font-size:24px;padding:10px 0 0 0;position:relative;resize: none;}



.title:hover{color:#000;}



.postBlock.post_view .story-page p{ color: #4d4d4d !important;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.75;
    margin: 0 0 20px;}



a:hover { text-decoration: none; cursor: pointer; }







#storyshoutLogo { cursor: pointer; padding: 3px; margin-left: 10px; }



.thumbnail { cursor: pointer; border-radius: 50px; border: 1px solid #eee; }







a.pename:hover { text-decoration: underline; cursor: pointer; font-style: normal; }



.bio {color: #999; display: block; float: left; font-size: 14px; margin-bottom: 0; width: 100%;}



#postList { margin-top: 100px; }



#editPic{min-height:100px; width:100px; border:solid3px #fff; box-shadow:}



#datetime { color:#666; font-style:italic;}



#postList #leftSidebar {left: 120px; padding:20px 0px; border: 1px solid #e0e0e0; width:17%;  position:fixed; border-radius: 3px; box-shadow:0 0 4px rgba(0, 0, 0, 0.1); max-width: 229px;}



#postList.postread .control-label{ margin-left:0; max-width:inherit;}



#leftSidebar:before{ background-color: #e0e0e0; content: ""; display: block; height: 55px; position: absolute;top: 55px;width: 100%;}



.fixed { position: fixed; }



.scrollit { margin-top: 70px; }







/*Gh css 25.12.2014 css*/



.thum-img{ border-radius: 100%; width:32px; height: 32px;}



.container .pename{ color: #007fff; font-size: 20px; font-weight: normal;}



.story-page p{color:#555;}



.storybox .img-circle{ background:#fff; border: 1px solid #dfdfdf;padding: 3px; box-shadow: none; border-radius: 50%;   height: 94px; /*max-width:90px;*/ width: 12%;}



.storybox .right_cont{float: left;  margin-left: 15px;  width:85%;}



.storybox .p-name {  float: left; width: 87%;}



.storybox .right_cont .pename{ float:left;  color: #007fff;font-size: 18px;font-weight: normal; width: auto;}



.right_cont-story{ float: left; margin-left: -16px;margin-top: 0; padding: 0; width: 80%;}



.bottomline{float: left; height: 10px; width: 100%; }



.storybox{border-bottom:1px dotted #d6d6d6; float: left; padding-bottom: 10px; width: 100%;}



.right_cont-story .title{ color: #000;font-size: 24px;font-weight: 200;padding: 10px 0 0;position: relative;resize: none;}



.read_more{  color: #007fff;font-size: 14px;letter-spacing: 1px;}
.read_more:hover{  color: #007fff;font-size: 14px;letter-spacing: 1px;}



.right_cont-story p{   font-size: 18px;letter-spacing: 0.5px;line-height: 1.75;margin: 0 0 20px; color: #4d4d4d;}



.postBlock #datetime { color: #777; float: left; font-size: 13px; font-style: normal; vertical-align: top;clear: both;}



#postList .control-label{max-width:871px; width:100%; margin-left: 22.6%; float:left;}

#editPic.edit_pic{  float: left; margin: 0 auto; position:relative; text-align: center; width: 100%; z-index: 99; top:0px; height: 137px;} 

.edit_pic img{ margin: 0 auto; text-align: center; border: 4px solid #e0e0e0; width: 55%;border-radius: 72%; background-color:#fff; min-height: 130px; max-height: 130px; } 

.side-cont{clear: both; float: left;margin: 0; text-align: center; width: 100%;}

.side-cont .pename{ color: #333; font-size: 25px; font-weight: normal; margin: 0; line-height: 24px;}

.side-cont p{ margin:0;}

#postList.postread .img-circle{ border-radius: 100%;min-height:82px; width: 90px;}

#postBlock{position: relative;z-index: 9;}

#leftSidebar.fixed { top:55px !important;}



.shout-btn{float: right; margin: 10px 0; position: fixed;right: 92px;top: 42px;}

.share-content{width:32px; }

.shout-btn input[type="submit"], #story-btn .shout-btn button{background-color: #4c4c4c; border: 1px solid #5c5c5c;border-radius: 20px;color: #fff; padding: 6px 12px;  margin-top: 5px;}



.shout-btn input[type="submit"].btn-link, #story-btn .shout-btn button.btn-link{background-color:inherit; border:inherit;border-radius:0;color: #5c5c5c;}



.shout-btn input[type="submit"].btn-link:hove, #story-btn .shout-btn button.btn-link:hover{ text-decoration:underline;}	



.hearding{ -moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;
border-color: rgba(0, 0, 0, 0.15) -moz-use-text-color -moz-use-text-color;border-image: none;border-style: solid none none;border-width: 1px 0 0;
 display: block;margin: 51px auto 41px;width: 100px;}

 .hearding1{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;
border-color: rgba(0, 0, 0, 0.15) -moz-use-text-color -moz-use-text-color;border-image: none;border-style: solid none none;border-width: 1px 0 0;
 display: block;margin: 51px auto 41px;width: 100px;}



.postBlock.post_view{ border-bottom:1px dotted #d6d6d6;}



.container.cont_story{ height: inherit;}



#my-stories .right_cont-story{ width:100%; margin-left:-14px;}



.home-bg{background-color:#ebebeb;}



#home_profile{ width:45%; margin:0 auto;}



#home_profile .avatar_image, #home_profile .control-form{background-color: #fff;border-top: 4px solid #007fff;padding: 0 10px 10px; width:100%;  text-align: center;}



#home_profile .control-form{border-top: 0 none; float: left;}	



#home_profile .avatar_image .edit-btn{ margin:17px 0;}



#home_profile .avatar_image h2, #home_profile .control-form h2{ font-size: 21px;font-weight: normal;margin: 20px 0 10px; padding: 0; text-transform: inherit;  text-align: left;}



#home_profile .control-form h2{ text-align:left;  margin-top: 0;}



#home_profile .avatar_image a i{  color: #666;font-size: 30px; margin-left: 6px;}



#home_profile .avatar_image a i:hover, #home_profile .avatar_image a i:focus{color:#007fff;}



.control-form div label{ color: #666;float: left;font-size: 15px;font-weight: normal;margin-right: 7px;margin-top: 4px;width: 16%;}	



/* Survey CSS*/
.control-form #introForm div label{ color: #666;float: left;font-size: 15px;font-weight: normal;margin-right: 7px;margin-top: 4px;width: 100%;}	
.control-form #introForm div label.radio-inlinne .fomr1{margin-right: 30px;}
.control-form div label i{ color: #df1b1b;font-style: normal;}	
.control-form div{margin-bottom: 10px;}
#home_profile div .form-control{background-color: #f6f6f6; width: 59%; font-weight:normal;}
#home_profile div .form-control::-moz-placeholder { color: #b9b9b9;opacity: 1;}
#home_profile div input[type="submit"]{width: 26%; background:#a63b26; border:solid 1px #c05525;}	
#home_profile .avatar_image{ margin-top: 15px;}
.form-group{ margin: 0 auto;  width: 100%;}
#home_profile .form-group input[type="submit"]{width: 15%;}
#home_profile .modal-title{font-size: 20px;font-weight: normal;text-transform: capitalize;}
.close{font-size:32px !important; font-style:normal; font-weight:300 !important; letter-spacing:-0.02em; position:fixed; right:0; top:0;}
#story-btn{margin: 0 auto;text-align: right; width: 85.8%;}
#story-btn input[type="submit"], #story-btn button{ border-radius: 0px;font-size: 14px; line-height:inherit;}
.hearding #editTheTitle{  border: 0 none;}
#theTitle{margin-bottom: 15px;}
#topNav #content p{font-size:22px;margin: 0 0 2px;}
.editprofile{ text-align:center;}
.editprofile button{margin-top: 12px;}
#leftSidebar .side-cont{float: left; margin-left: 28px;width: 78%;}
.options {cursor:pointer;color: #000000;font-size:16px;margin-left:3px;margin-right:3px;}
a { text-decoration:none;}
#theTitle{font-family: 'PT Sans', sans-serif;color: #000000;font-weight: normal;outline: none;border: 0;
|color: #333;font-weight:700;line-height: 1.25;font-size: 66px;letter-spacing: -1px;box-shadow: none;padding: 4px; text-align: center;
font-style: normal;
width: 100%;height: auto;position: relative; clear: both;resize: none;overflow: hidden;}

/* Landing page modal design */
.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.md-content{
position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}


.wrapper{
	background:#fff none repeat scroll 0 0;
	width: 100%;
    height: 100%;
}
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

#loginbtn{
	   background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    font-weight: 300;
    padding: 5px;
    width: 20%;
	font-size:18px !important;
}

#passBtn{
	   background-color: #000;
    border-color: #000;
    border-radius: 20px;
    color: #FFF;
    font-weight: 300;
    padding: 5px 20px;
    margin:0 auto;
	display:block;
}

#signupbtn {
    background-color: #fff;
    border-color: #000;
    border-radius: 20px;
    color: #000;
    font-weight: 300;
    padding: 5px;
    width: 20%;
}
label#pass-error, label#cnfPass-error{display:none !important;}
/* Just me effect for modal */
.modal-header .close{margin:5px 10px 2px 2px !important;}
.md-effect-12 .md-content {
	/*-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);*/
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	animation: 300ms cubic-bezier(0.8, 0.02, 0.45, 0.91) 0s normal forwards 1 running scale-fade;
}
.overlay-title{
  color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 12px;

}
.modal-header{
	border-bottom: none !important;
	padding:0 !important;
}


.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	/*-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);*/
	opacity: 1;
}

.modal-body{text-align: center;}

.quicklinks li .blog{color: #000;}
.quicklinks li .blog:hover{color: #000; text-decoration:underline;}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1030;
	opacity: 0;
	background: rgba(255,255,255,0.96);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.button-tw{background-color:#55acee; border: 0 none; color: #fff; margin: 0 auto 10px; display: block;

    font-feature-settings: "liga";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    height: 38px;
    letter-spacing: -0.02em;
    outline: 0 none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
       border-radius: 999em;
    box-sizing: border-box;
    vertical-align: middle;
      line-height: 37px;
      width: 195px;
}
.button-fb{
	margin: 0 auto 10px;
	 background-color: #3b5998;
    border: 0 none;
    color: #fff;
	font-feature-settings: "liga";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    height: 38px;
    letter-spacing: -0.02em;
    outline: 0 none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
       border-radius: 999em;
    box-sizing: border-box;
    vertical-align: middle;
      line-height: 37px;
      width: 195px;
}
.button-fb:hover{opacity: 0.8;}
.button-g{margin: 0 auto 10px;background-color: #dd4b39;border: 0 none;color: #fff;font-feature-settings: "liga";font-size: 18px;ont-style: normal;
 font-weight: 300;height: 38px;letter-spacing: -0.02em;outline: 0 none;position: relative;text-align: center;text-decoration: none;
 text-rendering: optimizelegibility;border-radius: 999em;box-sizing: border-box;vertical-align: middle;line-height: 37px;width: 195px;
}

#content{border: 4px solid rgba(0,0,0,0.1);padding: 8px 10px;-moz-padding-start: 1px;-moz-padding-end: 1px;font-size: 16px;
outline: none;border: none;border-style: none; font-family: 'PT Sans', sans-serif;color: #333;font-weight: normal;
line-height: 1.5;font-size: 22px;letter-spacing: 0.01rem;box-shadow: none;padding: 4px;position: relative; resize: none;
transition: right 200ms ease 0s;}

 .container{height: 520px;}

 #storyshoutLogo{margin-left: 15px;cursor: pointer;}
blockquote{border: medium none;font-family:inherit;font-size: 32px;font-style: italic;font-weight: bold;letter-spacing: 0.01rem;
   line-height: 1.4;margin: 48px -160px;padding: 0;text-align: center;transition: margin 100ms ease 0s;}

 blockquote:before{color: #000;content: open-quote;font-size: 4em;line-height: 0.1em;margin-right: 0.1em;vertical-align: -0.4em;}
 blockquote p {display: inline;}

#editTheTitle{font-weight:bold;width: 100%;color: #000000;resize: none; line-height:0.75;font-family: "PT Sans",sans-serif;
  font-size: 58px;letter-spacing: -1px;box-shadow: none;padding: 4px;height: auto;clear: both;resize: none;overflow: hidden;outline: none;
border:medium none; text-align: center;}

 #editContent{border: 4px solid rgba(0,0,0,0.1);padding: 8px 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;
 border-radius: 5px;-moz-padding-start: 1px;-moz-padding-end: 1px;font-size: 16px;color: #333;font-weight: normal;
line-height: 1.25;font-family: "PT Sans",sans-serif;font-size: 22px;letter-spacing: -1px;box-shadow: none;padding: 4px;
width: 923px;height: auto; position: relative;resize: none;outline: none;border: 1px solid blue;overflow: auto;}

#topNav{margin-top: 80px;display: table;margin-bottom: 40px; margin: 80px auto 50px; width: 100%; max-width:800px;position: relative;right: 0;transition: right 200ms ease 0s;  font-feature-settings: "liga";text-rendering: optimizelegibility;}



/*.editprofiles #editProfile{  margin: 10px 0 0 61px;}*/



/*.side-cont .name-full{  padding: 5px 0;text-align: left;}*/



.editprofile{float: left;margin-left: 29px; width: 77%;}



.editprofile button#doneProfile, .editprofile button#cancelProfile{border: 0 none;border-radius: 4px; display: inline-block; float: left; margin-right: 5px; padding: 3px 7px;}



.editprofile button#cancelProfile{margin-right: 0px;}

#leftSidebar .left-img{ float: left; font-size: 23px;text-align: center;width: 47%; color: #666}

#leftSidebar .left-img i:hover{ color:#af4520;}

#leftSidebar .fa-img, #leftSidebar #fa-img-new{margin: 0 auto; text-align: center; width: 20%;}

#leftSidebar #fa-img-new{ width: 12%;}

#donePic{background:#a63b26;border: 1px solid #c05525;}

#postRead .disable{background:rgba(255, 255, 255, 0.7);height: 100%; position: absolute;

    width: 100%; z-index:999;}

#leftSidebar .border input[type="text"], #leftSidebar .border textarea {border: 1px solid #007fff;border-radius: 3px;color: #8c8c8c;

 padding: 5px; width: 100%;}	

#leftSidebar .border textarea#editBio {resize:none;  width: 100%;} 	

body .navbar-default{background-color: #fff; opacity:0.87;}

body .navbar-default .navbar-nav > li > a, body .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav > li > a:focus{  color: #000 !important;}

body .dropdown-menu{top: 105%;}

#inner-content{ background-color: #404040; border-bottom: 1px solid #6c6c6c; padding: 10px 0; min-height: 81px; max-height: 81px;}
#inner-content .container{ height:inherit;} 
#inner-content.navbar-default .nav li a{ font-size:20px;}
#inner-content{position: fixed;width: 100%; z-index: 999;}
#inner-content.navbar{ border-radius:0;}
#inner-content.navbar a.shout-btn{top:0;right: 0;}
#inner-content.navbar a.btn:link{margin-top:0;display: block !important;}
#inner-content .navbar-collapse{padding-right:0;}
#page-top .container .top-fix{ min-height:99px; max-height:99px;}
#page-top .inner-content p, #page-top .inner-content ul{font-size: 14px;color: #707070; line-height: 20px;}
#page-top .inner-content ul{line-height: 25px;padding-left: 23px;}
#page-top .inner-content h3:first-child{margin-top: 0;}
#page-top .inner-content h3{ border-bottom: 1px dashed #c07070; color: #a03530;font-weight: normal;padding: 0 0 7px; margin-top: 28px; text-transform: capitalize;}
#page-top .inner-footer{ background:#404040; padding: 12px 0;  margin-top: 33px; float:left; width:100%;}
#page-top .inner-footer .copyright_cont{width: 340px;}
#story-btn{ background:#fff;}
#draft-cont.control-label .storybox .img-circle{ width:8.7%;} 
body.modal-open.privacy-cont .navbar{right:8px !important;}  
body.modal-open{padding-right:0 !important; overflow:inherit !important;}
body.modal-open.privacy-cont{padding-right:17px !important; overflow:hidden !important;}
.social_read{ -webkit-box-shadow:0 2px 11px -1px rgba(140, 140, 140, 0.75); -moz-box-shadow:0 2px 11px -1px rgba(140, 140, 140, 0.75); background:#3b0b0b; border: 1px solid #ececec;border-radius: 6px;box-shadow: 0 2px 11px -1px rgba(140, 140, 140, 0.75); padding: 5px 15px;position: absolute;right: 13px; top: 45px;}
.social_read a{color: #fcfcfc;font-size: 24px;}
.social_read a:hover{ color:#c05525;}
.break{background:#ffffff; border: 1px solid #dadada;border-radius: 4px;box-shadow: 0 1px 4px #cacaca; padding: 5px 15px;position: absolute;right:-3% ; top:60%;}
.break b.arrow{border-color: transparent transparent #eee;border-style: solid;border-width: 0 10px 9px; height: 0;left: 42px;position: absolute;top: -9px;width: 0; z-index: 999;}	
#my-stories .break{right: -22px;}
.break a{color: #fcfcfc;font-size: 28px;}
.break a:hover{ color:#c05525;}
.break .fa-facebook-square{ color: #2e7ac2;}
.break .fa-twitter-square{color: #29c5f6;}
.break .fa-google-plus-square{color: #d84a38;}
.break .fa-linkedin-square{color:#0082c9;}
.unhidden{ background:#ffffff; border: 1px solid #dadada;border-radius: 4px;box-shadow: 0 1px 4px #cacaca; padding: 5px 15px;position: absolute;right: -44px; top:-23%;}
.unhidden b.arrow{border-color: transparent transparent #eee;border-style: solid;border-width: 0 10px 9px; height: 0;left: 42px;position: absolute;top: -9px;width: 0; z-index: 999;}
#my-stories .unhidden{right: -22px;}
.unhidden a{color: #fcfcfc;font-size: 28px;}
.unhidden a:hover{ color:#c05525;}
.unhidden .fa-facebook-square{ color: #2e7ac2;}
.unhidden .fa-twitter-square{color: #29c5f6;}
.unhidden .fa-google-plus-square{color: #d84a38;}
.unhidden .fa-linkedin-square{color:#0082c9;}
.shout-style{overflow-y: scroll;}
#theBlog{margin-top: 80px;}
.floatingToolbox {box-sizing: border-box;display: block;padding: 3px 5px 0 5px !important;position: fixed;top: 53px;left:9.3% !important;z-index: 10000;background:#fff;width:50% !important; z-index:0;}
#story-btn .unhidden{top: -52px;}
#story-btn .unhidden b.arrow{  border-color: #ebebeb transparent transparent;border-width: 10px 9px 0;top: 51px;}
#my-stories #myModalLabel.modal-title{ text-transform: capitalize;}
.link{color:#007fff;}
.link:hover{ color:#007fff;text-decoration:underline;}

*::before, *::after {
}
*::before, *::after {
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
}
*::before, *::after {
}
*::before, *::after {
    box-sizing: border-box;
}
#my-stories .modal-body form.form-group{ margin-left:14px;}
#error_page{margin-top: 90px; text-align: center;}
#page-top.modal-open .form2{margin-left: 15px;} 
#page-top.modal-open .form2 .form-group .col-sm-5 input[type="text"], #page-top.modal-open .form2 .form-group .col-sm-5 input[type="password"]{width: 220px;}
.or_sep{margin-top: 20px;}
.writer_detail{float:left; width:50%;}
.shout-style #story-btn .edit-all{float: right;}
.shout-style .writer_detail img{float: left; border: none;box-shadow: none;}
.shout-style .writer_detail .writer-details{ float:left; width:90%;  margin: 4px 0 0 6px;}
.shout-style .writer_detail .writer-details i{ float:left; color:#007fff; font-size:14px;  font-style: normal;margin-right: 3px;}
.shout-style .writer_detail .writer-details p{color: #949494;float: left;font-size: 13px; padding-left: 2px;text-transform: capitalize; letter-spacing: 0.02em;line-height: 1.75;}
.shout-style .story-footer{border-top:1px solid #f0f0f0;padding:8px 0px 0 0px;}
.cont_story ul.nav li a.dropdown-toggle{  margin: 0 15px; padding: 17px 0;}
.cont_story ul.nav li a.dropdown-toggle:hover{background-color: #f1f1f1;}
#introForm .radio-inline + .radio-inline{margin-left: 0;}
.share-btn{border:none; background:none;}

/* singup and login modal design */

/*Gh css 25.12.2014 css end*/

/*Forgot Button 12-1-15 By Gaurav Joshi*/
#forgotBtn{background-color: #fff;border-color: #000;color:#000;font-weight:300;border-radius:20px;width:20%;padding:5px;}
